In [8]:
print("shashi is :{} and he is:{}".format("bri","smart"))

shashi is :bri and he is:smart

In [7]:
print('My number is: {}, and my name is: {}'.format("num","name"))

My number is: num, and my name is: name

In [90]:
l = [1,2,3]

In [10]:
l

[1, 2, 3]

In [15]:
l.append(1)

In [16]:
l

[1, 2, 3, 1]

In [19]:
l.append('c')

In [20]:
l

[1, 1, 2, 3, 'c', 'c']

In [21]:
l[1]

1

In [27]:
l[0]='NEW'

In [28]:
l

['NEW', 1, 2, 3, 'c', 'c']

In [36]:
NEST = [1,5,[2,3,['a','b','c']]]

In [37]:
NEST

[1, 5, [2, 3, ['a', 'b', 'c']]]

In [43]:
NEST[2][2][1]

'b'

In [48]:
if 1>1:
    print('true')
elif 3==3:
    print('eqaul')
else:
    print('all same')

eqaul

In [53]:
seq = {1,2,3,4,5,5}

In [77]:
for num in seq:
    print (num*5,"and",num)

5 and 1
10 and 2
15 and 3
20 and 4
25 and 5

In [56]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [67]:
i = 0
while i == 5:
    print ('the num is:{}'.format(i))
    i = i+1

In [72]:
i = 1
while i <= 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

In [85]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [88]:
def squre(x):
    return x*x

In [89]:
squre(2)

4

In [92]:
out = [x*x for x in l]

In [93]:
out

[1, 4, 9]

In [94]:
l

[1, 2, 3]

In [96]:
[x*x*x for x in l]

[1, 8, 27]